#height_and_width {
  height: 80px;
  width: 240px;
}

#borders {
  border: 1px dotted red;
}

#border_radius {
  border: 1px dotted red;
  border-radius: 10px;
}

#padding_I {
  border: 1px dotted red;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

#padding_II {
  border: 1px dotted red;
  padding: 20px 30px;
}

#margins_I {
  border: 1px dotted red;
  margin-top: 10px;
}

#margins_II {
  border: 1px dotted red;
  margin: 20px 30px;
}

#auto {
  border: 1px dotted red;
  width: 200px;
  margin: 0 auto;
}

#min_max {
  border: 1px dotted red;
  min-width: 300px;
  max-width: 600px;
}

#overflow {
  border: 1px dotted red;
  height: 100px;
  overflow: scroll;
}

#visibility {
  border: 1px dotted red;
  visibility: hidden; 
}

/* z-index */
header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}
