#position_static {
  border: 1px dotted red;
  position: static;
}

#position_relative {
  border: 1px dotted red;
  position: relative;
  left: 40px;
}

#position_fixed {
  border: 1px dotted red;
  position: fixed;
  top: 20px;
  right: 100px;
}

/* Block Display */
footer {
  display: block;
  background-color: #DBE9EE;
  text-align: center;
  height: 100px;
}

/* Inline-Block Display */
li {
  display: inline-block;
}

/* float */
#float {
  border: 1px dotted red;
  float: right;
}
