.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
}

.grid_col {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 50% 200px;
}

.grid_row {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template-columns: 100px 50% 200px;
  grid-template-rows: 40% 50% 50px;
}

.grid_template {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  /*grid-template-columns: 100px 50% 200px;*/
  /*grid-template-rows: 40% 50% 50px;*/
  grid-template: 40% 50% 50px / 100px 50% 200px;
}

.grid_fraction {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  /*grid-template-columns: 100px 50% 200px;*/
  /*grid-template-rows: 40% 50% 50px;*/
  /*grid-template: 40% 50% 50px / 100px 50% 200px;*/
  grid-template: 1fr 1fr 1fr / 3fr 50% 1fr;
}

.grid_repeat {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  /*grid-template-columns: 100px 50% 200px;*/
  /*grid-template-rows: 40% 50% 50px;*/
  /*grid-template: 40% 50% 50px / 100px 50% 200px;*/
  /*grid-template: 1fr 1fr 1fr / 3fr 50% 1fr;*/
  grid-template: repeat(3, 1fr) / 3fr 50% 1fr;
}

.grid_minmax {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  /*grid-template-columns: 100px 50% 200px;*/
  /*grid-template-rows: 40% 50% 50px;*/
  /*grid-template: 40% 50% 50px / 100px 50% 200px;*/
  /*grid-template: 1fr 1fr 1fr / 3fr 50% 1fr;*/
  /*grid-template: repeat(3, 1fr) / 3fr 50% 1fr;*/
  grid-template: repeat(3, 1fr) / 3fr minmax(50px, 300px) 1fr;
}

.grid_gap {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width:400px;
  grid-template: repeat(3, 1fr) / 3fr 50% 1fr;
  grid-gap: 20px 5px;
}

.grid_items {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width: 500px;
  grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
  grid-gap: 5px;
}

.grid_items .a {
  grid-row-start: 5;
  grid-row-end: 7;
}

.grid_items .grid_row_item {
  grid-row: 5 / 7;
}

.grid_col_item_a {
  grid-row: 5 / 7;
  grid-column: 1 / span 2;
}

.grid_col_item_b {
  grid-column: 2 / span 6;
  grid-row: 2 / span 3;
}

.grid_area_a {
  grid-area: 5 / 1 / span 2 / span 2;
}

.grid_area_b {
  grid-area: 2 / 2 / span 3 / span 6;
}

.grid_area_c {
  grid-area: 6 / 8 / span 3 / span 1;
}


.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
